<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Translator User Admin</title>
  <link rel="stylesheet" href="/styles/app.css">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script>
    tailwind.config = {
      theme: {}
    };
  </script>

  <link rel="stylesheet" href="/styles/{{pageSource 'css'}}">
</head>
<body>